@using Microsoft.AspNetCore.Identity;
@model Ticketing_System.Models.Ticket
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Ticket Delete";
}

<h1 class="text-danger">Are you sure to Delete Item?</h1>

<div>
    <hr />
    <dl class="row" style="background-color:black; text-align:justify; font-weight:bold; font-size:large;color:white">
        <dt class="col-sm-3">
            <label asp-for="TicketId"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.TicketId</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="CategoryId"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.CategoryId</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="StatusId"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.StatusId</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="SeverityId"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.SeverityId</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="IssueStartDate"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.IssueStartDate</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="SLInHours"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.SLInHours</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="Description"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.Description</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="CreatorId"></label>
        </dt>
        <dd class="col-sm-8">
            @{
                var user = await UserManager.FindByIdAsync(Model.CreatorId);
                var name = user?.UserName;
            }
            <p>@name</p>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="LastActionDateTime"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.LastActionDateTime</p>
        </dd>

        <dt class="col-sm-3">
            <label asp-for="SLEndDateTime"></label>
        </dt>
        <dd class="col-sm-8">
            <p>@Model.SLEndDateTime</p>
        </dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.TicketId" />
    <input type="submit" value="Delete" class="btn btn-outline-danger" />
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</form>
