@model IEnumerable<Ticketing_System.Models.Ticket>
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity;
@using Ticketing_System.Models;

@{

    ViewData["Title"] = "All Tickets";
}

@*in case the result of the botton will appear in other page then 
not making the method is post in order to 
error not occure in back to the previus page *@
<form asp-action="Details" class="d-flex justify-content-center">

    <input type="number" name="id" class="w-25 h-50 mt-2" placeholder="Ticket Id" />

    <input type="submit"  class="btn btn-outline-dark mb-4 mt-2" style="margin-left:4px" value="Go" />
</form>

<table class="table table-striped table-dark">
    <thead>
        @*in oreder to use asp-for with IEnumerable then need to using the extension-methods "First()" of IEnumerable<T>*@
        <tr>
            <th>
                <label asp-for="First().TicketId"></label>
            </th>
            <th>
                <label asp-for="First().StatusId"></label>
            </th>
            <th>
                <label asp-for="First().SeverityId"></label>
            </th>
            <th>
                <label asp-for="First().CategoryId"></label>
            </th>
            <th>
                <label asp-for="First().CreatorId"></label>
            </th>
            <th>
                <label asp-for="First().SLInHours"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            <th>
                <label asp-for="First().CreationDateTime"></label>
            </th>
            <th>
                <label asp-for="First().LastActionDateTime"></label>
            </th>
            <th>
                <label asp-for="First().LastUpdatedBy"></label>
            </th>
            <th>
                <label asp-for="First().IssueStartDate"></label>
            </th>
            <th>
                <label asp-for="First().SLEndDateTime"></label>
            </th>
            <th>
                <label asp-for="First().Comment"></label>
            </th>

            <th></th>
            <th></th>
            @{
                if(User.IsInRole("Reporter"))
                {
                    <th></th>

                }
            }
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr class="text-center">
            <td>
                    <p>@item.TicketId</p>
            </td>
                <td>
                    @{
                        var statusname = item.status?.StatusName;
                    }
                    <p>@statusname</p>
                </td>
            <td>
                    @{
                        var severityname = item.severity?.SeverityName;
                    }
                    <p>@severityname</p>
            </td>
            <td>
                    @{
                        var categoryname = item.category?.CategoryName;
                    }
                    <p>@categoryname</p>
            </td>
                <td>
                    @{
                        var creator = await UserManager.FindByIdAsync(item.CreatorId);
                    }
                    <p>@creator?.UserName</p>
                </td>
            <td>
                    <p>@item.SLInHours</p>
            </td>
            <td>
                    <p>@item.Description</p>
            </td>
         
                <td>
                    <p>@item.CreationDateTime</p>
                </td>
                <td>
                    <p>@item.LastActionDateTime</p>
                </td>
                <td>
                    @{
                        var user = await UserManager.FindByIdAsync(item.LastUpdatedBy);
                    }
                    <p>@user?.UserName</p>
                </td>
                <td>
                    <p>@item.IssueStartDate</p>
                </td>

                <td>
                    <p>@item.SLEndDateTime</p>
                </td>
                <td>
                    <p>@item.Comment</p>
                </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TicketId" class="btn btn-outline-warning">Edit</a>
                        </td>

                        <td>
                            <a asp-action="Details" asp-route-id="@item.TicketId" class="btn btn-outline-info">Details</a>
                        </td>


                @{
                    if(User.IsInRole("Reporter"))
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.TicketId" class="btn btn-outline-danger">Delete</a>
                        </td>
                    }
                }
        </tr>
}

    </tbody>
</table>
